@use "colors" as *;
@use "fonts" as *;
@use "media-query" as *;

*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background: $background-color;
}
