@use "colors" as *;
@use "fonts" as *;
@use "media-query" as *;
@use "chip";

.hero {
    width: auto;
    height: auto;
    position: relative;

    &__container-text {
        position: absolute;
        z-index: 2;
    }

    &__title {
        @include header-text;

        .keys {
            color: $accent-color;
            text-decoration: underline;
        }

        .cursor {
            display: inline-block;
            background-color: $accent-color;
            color: transparent;
            animation: blink 1s infinite;
        }

        @keyframes blink {
            0% {
                background-color: $accent-color;
            }

            49% {
                background-color: $accent-color;
            }

            50% {
                background-color: transparent;
            }

            99% {
                background-color: transparent;
            }

            100% {
                background-color: $accent-color;
            }
        }
    }

    &__description {
        width: auto;

        h2 {
            @include hero-desc-text;
        }
    }

    &__threejs {
        position: absolute;
    }
}

@include lt-md {
    .hero {
        padding: 5rem 0rem 0 2rem;

        &__container-text {
            width: auto;
            padding-right: 1rem;
        }

        &__title {
            padding-bottom: 1.5rem;

            .cursor {
                width: 8px;
            }
        }

        &__description {
            padding-bottom: 1rem;
        }

        &__chips {
            margin-left: -1rem;
        }

        &__threebox{
            height: 40rem;
        }
    
        &__threejs {
            top: 10rem;

        }

    }
}

@include gt-md {
    .hero {
        padding: 6rem 0 0 2rem;

        &__container-text {
            width: 80%;
        }

        &__title {
            padding-bottom: 1.5rem;

            .cursor {
                width: 8px;
            }
        }

        &__description {
            padding-bottom: 1rem;
        }

        &__chips {
            margin-left: -1rem;
        }

        &__threebox{
            height: 50rem;
        }
    
        &__threejs {
            top: -8rem;
            right: -18rem;
        }
    }
}